@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3B3B3B;
    background-color: white;
    margin: 0;
}

/* =================HEADER================ */

header {
    height: 64px;
    background-color: #F7C948;
}

.logo {
    max-width: 1040px;
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin: auto;
}

.logo-icon {
    height: 40px;
}

.logo-name {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    padding-left: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .logo {
        padding: 12px 32px;
    }
}

@media only screen and (max-width: 767px) {
    header {
        height: 90px;
    }

    .logo {
        flex-direction: column;
    }

    .logo-name {
        padding-left: 0;
    }
}

/* =================MAIN SCREEN================ */

.main-screen {
    max-width: 1040px;
    margin: 128px auto;
    color: #3B3B3B;
}

.usp-heading {
    width: 512px;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    padding-bottom: 24px;
}

.usp-body {
    width: 336px;
    padding-bottom: 48px;
}

.button {
    display: block;
    width: 160px;
    height: 48px;
    background-image: url(images/Button2x.png);
    background-size: contain;
    margin-bottom: -77px;
}

.main-image {
    width: 600px;
    height: 554px;
    background-image: url(images/main-image1x.png);
    background-size: contain;
    float: right;
}


@media only screen and (min-width: 768px) and (max-width: 1439px) {

    .main-screen {
        padding: 0 32px;
    }

    .usp-heading {
        width: 434px;
        font-size: 32px;
        line-height: 36px;
    }   

    .button {
        margin-bottom: -55px;
    }

    .main-image {
        width: 434px;
        height: 399px;
    }

}


@media only screen and (max-width: 767px) {
    .main-screen {
        margin: 96px auto;
        padding: 0 16px;
    }

    .usp-heading {
        width: 328px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin: auto;
    } 

    .usp-body {
        width: 242px;
        text-align: center;
        margin: auto;
    }

    .button {
        margin: auto;
    }

    .main-image {
        display: none;
    }
}

/* =================APP FEATURES================ */

.app-features {
    width: 100%;
    height: auto;
    background-color: #F7C948;
    clear: both;
    padding: 64px 0;
}

.feature-fast {
    position: relative;
    width: 1040px;
    margin: auto;
}

.feature-fast-photo {
    width: 424px;
    height: 547px;
    background-color: #ffffff;
    background-image: url(images/Photo01.jpg);
    background-size: contain;
}

.feature-fast-description {
    position: absolute;
    top: 64px;
    left: 264px;
    padding: 32px;
    display: inline-block;
    background-color: #ffffff;
}


.feature-subheading {
    width: 360px;
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #626262;
}

.feature-text {
    width: 360px;
    margin: 0;
}

/* ----------------------- */

.feature-easy {
    position: relative;
    width: 1040px;
    margin: auto;
    margin-top: -64px;
    display: flex;
    justify-content: flex-end;
}

.feature-easy-photo {
    width: 424px;
    height: 547px;
    background-color: #ffffff;
    background-image: url(images/Photo02-2x.jpg);
    background-size: contain;
}

.feature-easy-description {
    position: absolute;
    bottom: 64px;
    right: 264px;
    padding: 32px;
    display: inline-block;
    background-color: #ffffff;
}

