@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    margin: 0;
}

/* =================HEADER================ */

header {
    height: 64px;
    background-color: #F7C948;
}

.logo {
    max-width: 1040px;
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin: auto;
}

.logo-icon {
    height: 40px;
}

.logo-name {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    padding-left: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .logo {
        padding: 12px 32px;
    }
}

@media only screen and (max-width: 767px) {
    header {
        height: 90px;
    }

    .logo {
        flex-direction: column;
    }

    .logo-name {
        padding-left: 0;
    }
}

/* =================MAIN SCREEN================ */

.main-screen {
    max-width: 1040px;
    margin: 128px auto;
    color: #3B3B3B;
}

.usp-heading {
    width: 512px;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    padding-bottom: 24px;
}

.usp-body {
    width: 336px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 48px;
}

.button {
    display: block;
    width: 160px;
    margin-bottom: -77px;
}

.main-image {
    width: 600px;
    float: right;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {

    .main-screen {
        padding: 0 32px;
    }

    .usp-heading {
        width: 434px;
        font-size: 32px;
        line-height: 36px;
    }   

    .button {
        margin-bottom: -55px;
    }

    .main-image {
        width: 434px;
        float: right;
    }

}


@media only screen and (max-width: 767px) {
    .main-screen {
        margin: 96px auto;
        padding: 0 16px;
    }

    .usp-heading {
        width: 328px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin: auto;
    } 

    .usp-body {
        width: 242px;
        text-align: center;
        margin: auto;
    }

    .button {
        margin: auto;
    }

    .main-image {
        display: none;
    }
}

.app-features {
    height: 200px;
    background-color: #3B3B3B;
    clear: right;
}